# Dependencies
node_modules

# Build output
.output
.vercel
/.svelte-kit
/build

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
.env.*
!.env.example
!.env.test
webapp/env.development

# Chrome extension configs
extension-config.development.js
extension-config.production.js
extension-config.js
chromeextension/config.js

# Debug logs
webapp/firebase-debug.log
webapp/ui-debug.log
webapp/firestore-debug.log
webapp/pubsub-debug.log
webapp/functions/ui-debug.log
webapp/functions/firestore-debug.log
webapp/.runtimeconfig.json

# Firebase cache and debug
/webapp/.firebase
webapp/.firebase/hosting.YnVpbGQ.cache

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*